{% extends "layout.html" %}
{% block body %}

    <div class="container">
        <h1 class='page-header'>Analysis Status: <code>{{status}}</code></h1>
        <a href='javascript:window.location.reload(true)' class='btn btn-info'> refresh </a>
        <table class="table table-striped">
            <tr>
                <th>ORDER ID</th>
                <th>STEP ID</th>
                <th>STEP NAME</th>
                <th>STEP CLASS NAME</th>
                <th>ERROR</th>
                <th>TRACE BACK</th>
            </tr>
            {% for items in result %}
                <tr>
                    <td>{{items['job_id']}}</td>
                    <td>{{items['step_id']}}</td>
                    <td>{{items['step_co_name']}}</td>
                    <td>{{items['step_class_name']}}</td>
                    <td>{{items['e_msg']}}</td>
                    <td>{{items['tb_msg']}}</td>
                </tr>
            {% endfor %}
        </table>
        {% if status == 'complete' %}
            <a class="btn btn-block btn-danger" href="/mypage/purchase/report?order_id={{result[0]['job_id']}}">see report</a>
        {% else %}
            <a class="btn btn-block btn-primary" href='/'>other services</a>
        {% endif %}
    </div>

{% endblock %}
